{% load static %}
<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1523744_fukomi9u0he.css" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'src/css/font-awesome.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'src/css/ionicons.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'src/css/owl.carousel.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'src/css/owl.theme.css' %}" type="text/css" media="all">
    <link rel='stylesheet' href="{% static 'src/css/prettyPhoto.css' %}" type='text/css' media='all'>
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'src/css/custom.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'src/js/sweetalert/sweetalert.css' %}" type="text/css" media="all">
    {#<link href="http://fonts.googleapis.com/css?family=Great+Vibes%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">#}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" href="{% static 'src/css/fav/reset.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/fav/carts.css' %}">
    {#<link href="http://fonts.googleapis.com/css?family=Great+Vibes%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">#}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>

<div class="noo-spinner">
    <div class="spinner">
        <div class="cube1">123</div>
        <div class="cube2"></div>
    </div>
</div>
{% include 'nav.html' %}
<div class="site">
    {% include 'header.html' %}
    {% include 'mobile_header.html' %}

    <div id="main">
        <div class="section section-bg-10 pt-11 pb-17">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="page-title text-center">WISHLIST</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="section border-bottom pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="breadcrumbs">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li>Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pt-7 pb-7 fav-box">
            {% if favs.count > 0 %}
                <section class="cartMain">
                    <div class="cartMain_hd">
                        <ul class="order_lists cartTop">
                            <li class="list_chk">
                                <!--所有商品全选-->
                                <input type="checkbox" id="all" class="whole_check">
                                <label for="all"></label>
                                全选
                            </li>
                            <li class="list_con">商品信息</li>
                            <li class="list_info">商品参数</li>
                            <li class="list_price">单价</li>
                            <li class="list_amount">数量</li>
                            <li class="list_sum">金额</li>
                            <li class="list_op">操作</li>
                        </ul>
                    </div>

                    <div class="cartBox">
                        <div class="shop_info">
                            <div class="all_check">
                                <!--店铺全选-->
                                <input type="checkbox" id="shop_a" class="shopChoice">
                                <label for="shop_a" class="shop"></label>
                            </div>
                            <div class="shop_name">
                                店铺：<a href="javascript:;">佳佳的小店</a>
                            </div>
                        </div>
                        <div class="order_content">
                            {% for fav in favs %}
                                <ul class="order_lists">
                                    <li class="list_chk">
                                        <input type="checkbox" id="checkbox_2" class="son_check">
                                        <label for="checkbox_2"></label>
                                    </li>
                                    <li class="list_con">
                                        <div class="list_img"><a href="{% url 'goods:goods_detail' fav.goods.id %}"><img
                                                src="{{ fav.goods.goods_thumbnail }}"
                                                alt=""></a></div>
                                        <div class="list_text">
                                            <a href="{% url 'goods:goods_detail' fav.goods.id %}">
                                                <p>{{ fav.goods.name }}</p>
                                                <p class="price_tag">单价：{{ fav.goods.shop_price }}</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="list_info">
                                        <p>规格：默认</p>
                                        <p>尺寸：16*16*3(cm)</p>
                                    </li>
                                    <li class="list_price">
                                        <p class="price">￥{{ fav.goods.shop_price }}</p>
                                    </li>
                                    <li class="list_amount">
                                        <div class="amount_box">
                                            <a href="javascript:;" class="reduce reSty">-</a>
                                            <input type="text" value="1" class="sum">
                                            <a href="javascript:;" class="plus">+</a>
                                        </div>
                                    </li>
                                    <li class="list_sum">
                                        <p class="sum_price">￥{{ fav.goods.shop_price }}</p>
                                    </li>
                                    <li class="list_op">
                                        <p class="del" data-id="{{ fav.id }}"><a href="javascript:;"
                                                                                 class="remove">移除商品</a></p>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                    <!--底部-->
                    <div class="bar-wrapper">
                        <div class="bar-right">
                            <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
                            <div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
                            <div class="calBtn" >
                                <a href="" id="goods-commit" >结算</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="model_bg"></section>
                <section class="my_model">
                    <p class="title">删除宝贝<span class="closeModel">X</span></p>
                    <p>您确认要删除该宝贝吗？</p>
                    <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;"
                                                                                           class="dialog-close">关闭</a>
                    </div>
                </section>
                {% else %}
                <div class="container">
                    <div class="empty-tag">
                        <img src="{% static 'images/ui_empty.png' %}" alt>
                        <p>暂时是空的
                            <a href="{% url 'goods:lists' %}">去逛逛</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% include 'footer_marco.html' %}
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    Copyright &copy; 2017.Company name All rights reserved.<a target="_blank"
                                                                              href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/footer_payment.png' %}" alt=""/>
                </div>
            </div>
        </div>
        <div class="backtotop" id="backtotop"></div>
    </div>
</div>
<script type="text/javascript" src="{% static 'src/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/jquery-migrate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/modernizr-2.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/jquery.countdown.min.js' %}"></script>
<script type='text/javascript' src="{% static 'src/js/jquery.prettyPhoto.js' %}"></script>
<script type='text/javascript' src="{% static 'src/js/jquery.prettyPhoto.init.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/dxajax.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/sweetalert/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/xtalert.js' %}"></script>
<script type="text/javascript" src="{% static 'src/js/fav.js' %}"></script>
{#    <script src="{% static 'src/js/fav/query.min.js' %}"></script>#}
<script src="{% static 'src/js/fav/cart.js' %}"></script>

</body>
</html>