{% load static %}
<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<img src="{% static 'images/footer_logo.png' %}" class="footer-logo" alt="" />
					<p>
						Welcome to Organik.欢迎访问我的小站！
					</p>
					<div class="footer-social">
						<a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
				<div class="col-md-2">
					<div class="widget">
						<h3 class="widget-title">网站信息</h3>
						<ul>
							<li><img src="{% static 'images/qrcode.jpg' %}" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2">
					<div class="widget">
						<h3 class="widget-title">联系我</h3>
						<ul>
							<li><a href="javascript:void(0)">技术支持：DX.Ssssss</a></li>
							<li><a href="javascript:void(0)"></a></li>
							<li><a href="javascript:void(0)"></a></li>
							<li><a href="javascript:void(0)"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="widget">
						<h3 class="widget-title">Subscribe</h3>
						<p>
							Enter your email address for our mailing list to keep yourself updated.
						</p>
						<form class="newsletter">
							<input type="email" name="EMAIL" placeholder="Your email address" required="" />
							<button><i class="fa fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</footer>