{% load  static %}
<header id="header" class="header header-desktop header-2">
		<div class="top-search">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<form>
							<input type="search" class="top-search-input" name="s" placeholder="What are you looking for?" />
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<a href="/" id="logo">
						<img class="logo-image" src="{% static 'images/logo/logo.png' %}" alt="Organik Logo" />
					</a>
				</div>
				<div class="col-md-9">
					<div class="header-right">
						<nav class="menu">
							<ul class="main-menu">
                                <li><a href="{% url 'goods:index' %}">首页</a></li>
                                <li><a href="{% url 'goods:lists' %}?page=1">商品</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'operation:fav_list' %}"><i class="icon-gouwuche iconfont"></i></a></li>
                                    <li><a href="#">{{ user.username }}</a></li>
                                    {% if user.is_staff %}
                                        <li><a href="/xadmin">后台管理</a></li>
                                    {% endif %}
                                    <li class="avatar"><img class="avatar" src="{% static 'images/avatar/timg.jpg' %}" alt=""></li>
                                    <li><a href="{% url 'users:logout' %}">退出</a></li>
                                    {% else %}
                                    <li><a href="{% url 'users:login' %}">登录</a></li>
                                    <li><a href="{% url 'users:regist' %}">注册</a></li>
                                {% endif %}
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>