<div class="widget widget-products">
    <h3 class="widget-title">{{ title }}</h3>
    <ul class="product-list-widget">
        {% for hot_goods in hot_goodses %}
            <li>
                <a href="{% url 'goods:goods_detail' hot_goods.id %}">
                    <img src="{{ hot_goods.goods_thumbnail }}" alt=""/>
                    <span class="product-title">{{ hot_goods.name }}</span>
                </a>
                <del>{{ hot_goods.shop_price }}</del>
                <ins>{{ hot_goods.market_price }}</ins>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="widget widget-tags">
    <h3 class="widget-title">Product Tags</h3>
    <div class="tagcloud">
        <a href="#">bread</a> <a href="#">food</a> <a href="#">fruits</a> <a href="#">green</a> <a
            href="#">healthy</a> <a href="#">natural</a> <a href="#">organic store</a> <a href="#">vegatable</a>
    </div>
</div>