<div id="menu-slideout" class="slideout-menu hidden-md-up">
	<div class="mobile-menu">
		<ul id="mobile-menu" class="menu">
            <li><a href="{% url 'goods:index' %}">Home</a></li>
            <li><a href="{% url 'goods:lists' %}">商品</a></li>

            {#                                <li><a href="checkout.html">Checkout</a></li>#}
            {#                                <li><a href="contact-us.html">Contact</a></li>#}
            {% if user.is_authenticated %}
                <li><a href="">{{ user.username }}</a></li>
                {% if user.is_staff %}
                    <li><a href="/xadmin">后台管理</a></li>
                {% endif %}
                <li><a href="{% url 'operation:fav_list' %}">我的收藏</a></li>
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'users:login' %}">Login</a></li>
                <li><a href="{% url 'users:regist' %}">Regist</a></li>
            {% endif %}
		</ul>
	</div>
</div>