<div class="floating_ck" id="sidebar" style="display: none;">
	<dl>
    	<dt></dt>
        <dd class="words">
        	<span>在线留言</span>
            <div class="floating_left"><a href="javascript:;">问题在线留言</a></div>
        </dd>
        <dd class="quote">
        	<span>咨询商品</span>
            <div class="floating_left"><a href="javascript:;">咨询商品运费</a></div>
        </dd>
        <dd class="qrcord">
        	<span>扫一扫</span>
            <div class="floating_left floating_ewm">
            	<i></i>
                <p class="qrcord_p01">扫一扫<br>添加微信有更多惊喜</p>
                <p class="qrcord_p02">微信<br><b>Dasiy_6116</b></p>
            </div>
        </dd>
        <dd class="return">
        	<span onClick="gotoTop();return false;">返回顶部</span>
        </dd>
    </dl>
</div>