{% load static %}
<div class="slide">
	<ul class="icon">
{#		<li class="up" title="上一页"></li>#}
		<li class="qq"></li>
		<li class="tel"></li>
		<li class="wx"></li>
		<li class="down" onClick="gotoTop();return false;"   title="返回顶部"></li>
	</ul>
	<ul class="info">
		<li class="qq">
			<p>在线沟通，请点我<a href="http://wpa.qq.com/msgrd?v=3&uin=1527507926&site=qq&menu=yes" target="_blank">在线咨询</a></p>
		</li>
		<li class="tel">
			<p>咨询热线：<br>400-800-8888<br>客服qq：<br>123456789</p>
		</li>
		<li class="wx">
			<div class="img"><img src="{% static 'images/qrcode_siderbar.jpg' %}" /></div>
		</li>
	</ul>
</div>
<div id="btn" class="index_cy"></div>